body {
    margin: 0;
}

#container {
    display: flex;
    height: calc(100vh - 2px);
}

#bot {
    border: 1px solid #333;
    float: left;
    height: 100%;
    width: 40%;
    min-width: 40%; 
    position: relative;
}

#bot.wc-wide {
    width: 768px;
}

#bot.wc-narrow {
    width: 320px;
}

#scene {
    float: left;
    width: 100%;
}