#scene {
    float: left;
    margin-right: 20px;
}
#bot {
    border: 1px solid #333;
    float: left;
    height: 600px;
    width: 460px;
    position: relative;
}
#bot.wc-wide {
    width: 768px;
}
#bot.wc-narrow {
    width: 320px;
}
#container {
    display: flex;
}
#scene {
    width: 100%;
}
